$font-main: "Open Sans", sans-serif;
$font-accent: "Roboto", sans-serif;
$background: #e0e0e0;
$white-background: #f5f5f5;
$font-color-dark: #424242;
$font-color-light: #fafafa;
$primary-color: #03a9f4;
$hover-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); /**
*http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
*Adapted from a LESS version at *https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
*Original Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
*/
@mixin shadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else 
  if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else 
  if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else 
  if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else 
  if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

body {
  background    : $background;
  font-family   : $font-main;
  color         : $font-color-dark;
  display       : flex;
  min-height    : 100vh;
  flex-direction: column;
}

canvas {
  padding: 0;
  margin : auto;
  display: block;
}

.win-modal {
  @include shadow(5);
  //displayed via JS
  display         : none;
  justify-content : center;
  flex-direction  : column;
  align-content   : stretch;
  background-color: $white-background;
  position        : fixed;
  //help from https://css-tricks.com/considerations-styling-modal/
  top             : 50%;
  left            : 50%;
  transform       : translate(-50%, -50%);
  width           : 380px;
  max-width       : 95%;
  z-index         : 50;
  height          : 250px;

  h1 {
    text-align : center;
    font-weight: 300;
    font-size  : 3.5em;
    margin     : 10px 0 0;
  }

  button {
    border-radius: 4px;
    margin       : 15px 25% 0;
    font-size    : 1.5em;
    border       : 0;
    padding      : 12px 15px;
    transition   : $hover-transition;
    background   : $primary-color;
    color        : $font-color-light;

    &:hover {
      @include shadow(2);
      cursor: pointer;
    }
  }
}